<section data-state="joomlablue">
    <section>
        <h1>1. Komponente</h1>
        <h3 class="fragment fade">Datenschutz</h3>
        <p class="fragment fade">Benutzer -> Datenschutz</p>
    </section>
    <section>
        <img src="../images/datenschutz-dashboard.gif" />
    </section>
    <section>
        <h3>Datenschutz: Kontrollzentrum</h3>
        <p>Modul: Alle Anfragen</p>
        <p>Zeigt eingegangene Anfragen von Benutzern an.</p>
        <img src="../images/alle-anfragen.png" />
    </section>
    <section>
        <h3>Datenschutz: Kontrollzentrum</h3>
        <p>Modul: Statusprüfung</p>
        <img src="../images/statuspruefung.png" height="400" />
    </section>
    <section>
        <h3>Datenschutz: Kontrollzentrum</h3>
        <p>Modul: Statusprüfung</p>
        <p>Zeigt derzeit 4 Stati an.</p>
        <ol>
            <li>Datenschutzerklärung veröffentlicht</li>
            <li>Menüpunkt Anfrageformular veröffentlicht</li>
            <li>Wichtige Anfragen</li>
            <li>E-Mail Funktion</li>
        </ol>
    </section>
    <aside class="notes">
        Die Datenschutzkomponente
    </aside>
</section>
