<section data-state="joomlablue">
    <section data-background="images/39-Infographic-1280x720-de.png">
        <credit>Bildquelle: &copy; Joomla! project</credit>
    </section>
    <section>
        <h1>Was ist neu?</h1>
        <h3>bezogen auf den Titel dieser Session</h3>
        <ul>
            <li class="fragment fade">Zwei neue Komponenten
                <ul>
                    <li class="fragment fade">Datenschutz</li>
                    <li class="fragment fade">Benutzeraktivitäten</li>
                </ul>
            </li>
            <li class="fragment fade">mehr als neue 10 Plugins
                <ul>
                    <li class="fragment fade">6 x vom Typ privacy</li>
                    <li class="fragment fade">3 x vom Typ system</li>
                    <li class="fragment fade">je 1 x vom Typ content, user und quickicon</li>
                </ul>
            </li>
        </ul>
        <aside class="notes">
            Was neu ist.
        </aside>
    </section>
</section>
