<section data-state="joomlablue">
    <section data-background="images/39-Instagram-1080x1080-de.png" data-background-size="50%">
    </section>
    <section>
        <h1>Was ist jetzt neu?</h1>
        <h3 class="fragment fade">bezogen auf den Titel dieser Session</h3>
        <ul>
            <li class="fragment fade">Zwei neue Komponenten
                <ul>
                    <li class="fragment fade">Datenschutz</li>
                    <li class="fragment fade">Benutzeraktivitäten</li>
                </ul>
            </li>
            <li class="fragment fade">mehr als 10 neue Plugins
                <ul>
                    <li class="fragment fade">6 x vom Typ privacy</li>
                    <li class="fragment fade">3 x vom Typ system</li>
                    <li class="fragment fade">je 1 x vom Typ content, user und quickicon</li>
                </ul>
            </li>
        </ul>
        <aside class="notes">
            Was neu ist.
        </aside>
    </section>
</section>
