<section data-state="kicktemp">
    <h1>Stefan Wendhausen</h1>
    <h2>Joomla! Enthusiast</h2>
    <aside class="notes">
        Über mich
    </aside>
</section>
<section data-state="kicktemp">
    <h3>Was bisher geschah</h3>
    <ul>
        <li class="fragment fade">Jahrgang '81, glücklich verheiratet, 2 Jungs</li>
        <li class="fragment fade">seit 1997 tec-promotion</li>
        <li class="fragment fade">seit 2002 Mambo</li>
        <li class="fragment fade">2004 erste Mambo User Group, Co-Founder</li>
        <li class="fragment fade">2005 erste Joomla! User Group</li>
        <li class="fragment fade">seit 2009 Vorstand JaB e.V.</li>
        <li class="fragment fade">seit 2010 CEO tec-promotion GmbH</li>
        <li class="fragment fade">seit 2016 tec JLP, Joomla! Learning Partner</li>
        <li class="fragment fade">seit 2017 J!Training, Co-Founder</li>
        <li class="fragment fade">seit 10/2017 Head of german translation Team</li>
        <li class="fragment fade">seit 06/2018 CFO kicktemp UG (haftungsbeschränkt)</li>
    </ul>
    <aside class="notes">
        Über mich
    </aside>
</section>

