<section data-state="joomlablue">
    <section data-transition="slide" data-background="#f6303e" data-background-transition="zoom">
        <h2>Klarstellung vorweg</h2>
        <blockquote class="fragment fade">Die Installation von Joomla! 3.9 macht die Website <strong>nicht</strong> per Klick/Update DSGVO-konform!</blockquote>
        <p class="fragment fade-in-then-semi-out">Auch nicht mit einem zweiten Klick!</p>
    </section>
    <section data-transition="slide" data-background-transition="zoom">
        <h2>Auszug aus den Nachinstallationshinweisen</h2>
        <blockquote>... Joomla 3.9 bietet neue Funktionen, die bei der Umsetzung von Datenschutzrichtlinien und beim Einholen der Benutzerzustimmung <span class="fragment highlight-red">unterstützen</span> ...</blockquote>
    </section>
    <aside class="notes">
        Das Datenschutz Paket für Joomla!
    </aside>
</section>
