<section data-state="kicktemp" data-transition="slide" data-background="#f6303e" data-background-transition="zoom">
    <h2>Klarstellung vorweg</h2>
    <blockquote class="fragment fade">Die Installation von Joomla! 3.9 macht die Website <span class="highlight-current-red"><span><strong class="fragment">nicht</strong></span></span> per Klick/Update DSGVO-konform!</blockquote>
    <p class="fragment fade-in-then-semi-out">Auch nicht mit einem zweiten Klick!</p>
    <aside class="notes">
        Das Datenschutz Paket für Joomla!
    </aside>
</section>
<section data-transition="slide" data-background-transition="zoom">
    <h2>Auszug aus den Nachinstallations-hinweisen</h2>
    <blockquote>... Joomla 3.9 bietet neue Funktionen, die bei der Umsetzung von Datenschutzrichtlinien und beim Einholen der Benutzerzustimmung <span class="fragment highlight-green">unterstützen</span> ...</blockquote>
    <aside class="notes">
        Das Datenschutz Paket für Joomla!
    </aside>
</section>
<section data-transition="slide" data-background="#f6303e" data-background-transition="zoom">
    <h2>2. Klarstellung</h2>
    <blockquote class="fragment fade">Nur ein Teil der neuen Funktionen sind für Besucher der Website relevant. Ein Großteil ist für Benutzer mit Login-Daten!</blockquote>
    <aside class="notes">
        Das Datenschutz Paket für Joomla!
    </aside>
</section>
