<section>
    <h1>Was ist jetzt neu?</h1>
    <h3>bezogen auf den Titel dieser Session</h3>
    <ul>
        <li class="fragment fade">Zwei neue Komponenten
            <ul>
                <li class="fragment fade">Datenschutz</li>
                <li class="fragment fade">Benutzeraktivitäten</li>
            </ul>
        </li>
        <li class="fragment fade">mehr als 10 neue Plugins
            <ul>
                <li class="fragment fade">6 x vom Typ privacy</li>
                <li class="fragment fade">3 x vom Typ system</li>
                <li class="fragment fade">je 1 x vom Typ content, user und quickicon</li>
            </ul>
        </li>
    </ul>
    <aside class="notes">
        Was neu ist.
    </aside>
</section>
<section>
    <h1>Was ist jetzt neu?</h1>
    <h3>Beide neuen Komponenten unterstützen Plugins</h3>
    <ul>
        <li class="fragment fade">Funktionsumfang erweiterbar</li>
        <li class="fragment fade">Funktionsumfang einfach konfigurierbar</li>
        <li class="fragment fade">Drittanbieter können einfach drauf aufsetzen</li>
    </ul>
    <aside class="notes">
        Was neu ist.
    </aside>
</section>
<section>
    <h1>Für Besucher</h1>
    <h3 class="fragment fade">Sehr einfache Zustimmung zum Datenschutz im Kontaktformular möglich</h3>
    <img class="fragment fade" src="../images/formular.png" width="800" />
    <aside class="notes">
        Was neu ist.
    </aside>
</section>
<section data-state="hidekick">
    <h1>Für Besucher</h1>
    <p>Plugin: Inhalt - Datenschutzerklärung</p>
    <p class="fragment fade" data-fragment-index="0">aktivieren ✓</p>
    <img class="fragment fade" data-fragment-index="0" src="../images/plugin_inhalt-datenschutz.png" width="800" />
    <aside class="notes">
        Was neu ist.
    </aside>
</section>
<section>
    <h1>Für Besucher</h1>
    <h3 class="fragment fade">That's it!</h3>
    <aside class="notes">
        Was neu ist.
    </aside>
</section>
<section data-transition="zoom" data-background="#f6303e" data-background-transition="zoom">
    <h1>Autsch</h1>
    <aside class="notes">
        Was neu ist.
    </aside>
</section>
