<section data-state="joomlablue">
    <section data-background="images/39-Infographic-1280x720-de.png">
    </section>
    <section>
        <h1>Was ist neu?</h1>
        <h3>bezogen auf den Titel dieser Session</h3>
        <ul>
            <li class="fragment fade">Zwei neue Komponenten
                <ul>
                    <li class="fragment fade">Datenschutz</li>
                    <li class="fragment fade">Benutzeraktivitäten</li>
                </ul>
            </li>
        </ul>
    </section>
    <aside class="notes">
        Das Datenschutz Paket für Joomla!
    </aside>
</section>
